:root {
    --bs-grey: #e5e5e5;
    --bs-orange: #fd7e14;
}
body {
    background: var(--bs-grey);
}
#header-navigation .selected {
    text-decoration: none;
    color: var(--bs-orange)!important;
}

/** img block placeholder **/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
